<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
                Hi there! I am an incoming Ph.D. student majoring in BME@Yale University, medical image analysis track. I grew up in Kunming, a beautiful and warm city in southwest China. I have obtained my Bachelor's degree in CS at the University of Michigan, Ann Arbor, and I will get another Bachelor's degree in ECE at SJTU this August. Before that, I worked with Prof. <a href="https://weiyaolin.github.io/index.html">Weiyao Lin</a> at SJTU and Prof. <a href="https://andrewowens.com/">Andrew Owens</a> at the University of Michigan. I have also had an internship at HealthCare, AILab@Tencent on medical image analysis, supervised by Dr. <a href="https://www.linkedin.com/in/xiaohan2009/">Xiao Han</a> and Mr. <a href="https://www.linkedin.com/in/sen-yang-223525186/">Sen Yang</a>.
            </p>
            <p class="paragraph-text justify-text">
                My interest includes general computer vision, medical image analysis, and audio-visual multi-modality learning. I am always enthusiastic about developing new deep learning methods to solve real-world needs. My favorite paper <a href="https://arxiv.org/abs/1312.6114.pdf"> <i>Auto-Encoding Variational Bayes</i></a> helped builds my idea about the current deep learning and machine learning world. It was really elegant and impressive!
            </p>
            <p class="paragraph-text justify-text">
                I like food, cooking, and electronic music. Avicii's album <i>"True"</i> is the one that I can loop all day long.
            </p>
            <p class="paragraph-text justify-text">
                I will continue working with Prof. <a href="https://andrewowens.com/">Andrew Owens</a> on our exciting conditional foley project this summer. Also happy to chat about possible collaboration opportunities in computer vision and medical image analysis!
            </p>
        </div>
    </section>
</div>
