<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
                Hi there! I am a new Ph.D. student major in BME at Yale University, medical image analysis track. I have obtained my Bachelor degree in CS at University of Michigan, and I will get another Bachelor degree in ECE at SJTU this August. Before that, I have worked with Prof. <a href="https://weiyaolin.github.io/index.html">Weiyao Lin</a> at SJTU, and Prof. <a href="https://andrewowens.com/">Andrew Owens</a> at UofM. I have also had an internship at HealthCare, AILAB@Tencent on medical image analysis, supervised by Dr. <a href="https://www.linkedin.com/in/xiaohan2009/">Xiao Han</a> and <a href="https://www.linkedin.com/in/sen-yang-223525186/">Sen Yang</a>.
            </p>
            <p class="paragraph-text justify-text">
                My interest including general computer vision, medical image analysis, and audio-visual multi-modality learning. I am always enthusiastic about developing new deep learning methods to solve real world need. My favorite paper <a href="https://arxiv.org/abs/1312.6114"> Auto-Encoding Variational Bayes</a> help builds my idea about current deep learning and machine learning world. It was really elegant and impressive!
            </p>
            <p class="paragraph-text justify-text">
                I will continue working with Prof. <a href="https://andrewowens.com/">Andrew Owens</a> this summer. Also happy to chat about possible collaboration opportunity in computer vision and medical image analysis!
            </p>
        </div>
    </section>
</div>
